@model IEnumerable<Track>

@{
    ViewData["Title"] = "List of Tracks";
}

<div class="row" ">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 555px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.StartingPoint -> @item.EndPoint
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="md-6">
                       
                        <img src="@item.TrackCateogryURL" width="100%" alt="@item.TrackCategory" /> 
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"><b>Team Organization: </b>@item.Highlights</p>
                            <p class="card-text"><b>Mountain Name: </b>@item.Mountain.Name</p>
                            <p class="card-text"><b>Mountain TreckingTime: </b>@item.Mountain.TrekkingTime</p>
                            <p class="card-text"><b>Mountain View </b><img src="@item.Mountain.MountainPictureURL" width="111%" alt="@item.TrackCategory" /></p>
                            <p class="card-text"><b>Starting from: </b>@item.StartingPoint</p>
                            <p class="card-text"><b>End Destination: </b>@item.EndPoint</p>
                            <p class="card-text"><b>Category: </b>@item.TrackCategory</p>
                            <p class="card-text"><b>Starting date: </b>@item.StartDate.ToString("dd MM yy")</p>
                            <p class="card-text"><b>End date: </b>@item.EndDate.ToString("dd MM yy")</p>
                            <p class="card-text ">
                                <b>Status: </b>
                                @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                {
                                    <span class="badge bg-success text-white">Available</span>
                                }
                                else if (DateTime.Now >= item.StartDate)
                                {
                                    <span class="badge bg-warning text-white">Еxpired</span>
                                }
                                else if (DateTime.Now <= item.StartDate)
                                {
                                    <span class="badge bg-info text-white">Upcoming</span>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right"><i class="bi bi-eye-fill"></i>Show Detail</a>
                                <a class="btn btn-success text-white"><i class="bi bi-tree"></i>Add to Adventure List</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

