@using Mountain_Trips_and_Landmarks.Data.ViewModels 
@model SelectorAdventureVM

@{ 
    ViewData["Title"] = "Selector adventure summary";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>Your Adventures summary</h2>
        </div>


        <table class="table">
            <thead>
                <tr>
                    <th>Selected targets</th>
                    <th>Track Starting Point</th>
                    <th>Track Ending Point</th>
                    <th>Days for the Track</th>
                    <th>Trip Peak Names</th>
                    <th>Trip Landmarks Names</th>
                    <th>Targets</th>
                    <th>Delete Adventure</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SelectorAdventure.SelectorAdventureItems)
                {
                <tr>
                    <td class="align-middle">@item.Targets</td>
                    <td class="align-middle">@item.Track.StartingPoint</td>
                    <td class="align-middle">@item.Track.EndPoint</td>
                    <td class="align-middle">@item.TripDays</td>
                    <td class="align-middle">@item.PeakName</td>
                    <td class="align-middle">@item.LandmarkName</td>
                    <td class="align-middle">@item.Targets</td>
                    <td class="align-middle">
                        <a class="text-danger" asp-controller="Adventures" asp-action="RemoveAdventures"
                           asp-route-id="@item.Track.Id">
                            <i class="bi bi-tree"></i>
                        </a>
                        |
                        <a class="text-danger" asp-controller="Adventures" asp-action="RemoveAdventures"
                           asp-route-id="@item.Track.Id">
                            <i class="bi bi-tree"></i>
                        </a>
                        |
                        <a class="text-danger" asp-controller="Adventures" asp-action="RemoveAdventures"
                           asp-route-id="@item.Track.Id">
                            <i class="bi bi-tree"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total Trips Days:</b></td>
                    <td>
                        @Model.SelectorAdventureTotal
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <div class="text-center">
            <div class="btn-group">
                <a class="btn btn-outline-success" asp-controller="Tracks" asp-action="Index">
                    Add more items
                </a>
            </div>
        </div>
    </div>
</div>